## Can Work Without this env  configuration due to defaults

# API Development Environment Configuration
NODE_ENV=development
API_PORT=4000


MONGODB_URI=mongodb://localhost:27017/dam

# Redis - Job Queue
REDIS_URL=redis://localhost:6379

# MinIO - Object Storage
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_ENDPOINT_EXTERNAL=http://localhost:9000
MINIO_BUCKET=assets
MINIO_REGION=us-east-1

# Queue Configuration
QUEUE_NAME=asset-tasks

# Logging
LOG_LEVEL=debug


